body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 50px;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.388);
    display: inline-block;
}
h1 {
    color: #333;
}
#result {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}